BasedOnStyle: LLVM
UseTab: Never

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 80
AlignEscapedNewlines: LeftWithLastLine

# Force argument/parameter wrapping
BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 10000

AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

IndentAccessModifiers: false
AlignArrayOfStructures: Left
InsertTrailingCommas: Wrapped

